// GENERICS
* {
	font-family: "Raleway", sans-serif;
}
li {
	list-style-type: none;
}

.my-blue {
	color: $my-blue;
}

.my-green {
	color: $my-green;
}

.my-gray {
	color: $my-gray;
}

.button-green {
	border: 0;
	font-size: 12px;
	font-weight: 600;
	color: white;
	background-color: $my-green;
	border-radius: 5px;
	padding: 12px 30px;
}
