// GENERICS
* {
	font-family: "Raleway", sans-serif;
}
li {
	list-style-type: none;
}

.my-blue {
	color: $my-blue;
}

.my-primary {
	color: $my-primary;
}

.my-gray {
	color: $my-gray;
}

.my-second-blue {
	color: $my-second-blue;
}

.title {
	font-weight: 700;

	span {
		font-weight: 500;
	}
}

.subtitle {
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 2px;
}

.button-primary {
	border: 0;
	font-size: 12px;
	font-weight: 600;
	color: white;
	background-color: $my-primary;
	border-radius: 5px;
	padding: 12px 30px;
}
